@model IEnumerable<BackEnd.Entities.Carrito>



@{ ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml"; }



<!-- Section-->
<div class="DivPadre d-flex justify-content-center">
    @foreach (var item in Model)
    {
        <div class="DivHijo card h-100">

            <img class="card-img-top" src="@item.RutaImagen" />
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h4 class="fw-bolder">@item.NombreProducto</h4>
                    <!-- Product price-->
                    <h5>₡<label id="lblPrecio">@String.Format("{0:n}", item.PrecioProducto)</label></h5>
                </div>

            </div>
        </div>
    }

</div>

@{
    if (Model.Count() == 0)
    {
        <br />
        <div style="display: flex;justify-content: center;">
            <h1>¡Usted no tiene productos en el carrito!</h1>
        </div>
        <br />
    }
    else
    {
        <div class="row d-flex justify-content-center">
            <div class="col-md-3">
                <div class="text-center" onclick="EliminarCarrito()"><a class="btn btn-danger" style="width:100%">Eliminar Items</a></div>
            </div>
            <div class="col-md-3">
                <div class="text-center" onclick="ComprarCarrito()"><a class="btn btn-success" style="width:100%">Comprar Items</a></div>
            </div>
        </div>
    }
}






@section Scripts
{
    <script src="~/js/ProductosJS.js"></script>

    <script>
        function EliminarCarrito() {
            {
                $.ajax({
                    type: "POST",
                    url: '/Carrito/EliminarCarrito',
                    dataType: 'json',
                    success: function (data) {
                        window.location.href = "/Home/Index";
                        alert('¡Productos eliminados con exito!')
                    },
                    error: function () {
                        window.location.href = "/Home/Index";
                        alert('¡Productos eliminados con exito!')
                    }
                });
            }
        }
    </script>

    <script>
        function ComprarCarrito() {
            {

                $.ajax({
                    type: "POST",
                    url: '/Carrito/ComprarCarrito',
                    dataType: 'json',
                    success: function (data) {
                        alert('¡Productos adquiridos con exito!')
                        window.location.href = "/Home/Index";
                    },
                    error: function () {
                        alert('¡Productos adquiridos con exito!')
                        window.location.href = "/Home/Index";
                    }
                });
            }
        }
    </script>
}