@model IEnumerable<BackEnd.Entities.Producto>

@{
    ViewData["Title"] = "Página de Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="DivPadre d-flex justify-content-center">
    @foreach (var item in Model)
    {

        <div class="DivHijo card h-100">

            <img class="card-img-top" src="@item.RutaImagen" />

            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <h4><label id="lblNombre" class="fw-bolder">@item.NombreProducto</label></h4>
                    <h5>₡<label id="lblPrecio">@String.Format("{0:n}", item.PrecioProducto)</label></h5>
                </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent row">


                <div class="col-md-12">
                    @if (item.CantidadProducto <= 0)
                    {
                        <div class="text-center">
                            <h3 style="color:crimson;">¡Sin existencias!</h3>
                        </div>
                    }
                    else
                    {
                        @if (TempData["DatosUsuario"] != null)
                        {
                            TempData.Keep("DatosUsuario");
                            <div class="text-center">
                                <a id="agregarCarrito" class="btn btn-outline-dark mt-auto" style="width:100%"
                                   onclick="AgregarCarrito(@item.IdProducto)">Añadir Carrito</a>
                            </div>
                        }
                        else
                        {
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" style="width:100%" href="\Login\IniciarSesion">Añadir Carrito</a>
                            </div>
                        }
                    }

                </div>
            </div>
            <div id="alertPrueba-@item.IdProducto" class="alert alert-success collapse">
                <a id="cerrar" href="#" class="close">&times;</a>
                <strong>¡Agregado al carrito!</strong>
            </div>
        </div>

    }

</div>

@section scripts{ 

    <script>
        function AgregarCarrito(IdProducto) {
            {
                $.ajax({
                    type: "POST",
                    url: '/Carrito/AgregarCarrito', 
                    data:
                    {
                        IdProducto: IdProducto
                    },
                    dataType: 'json',
                    success: function (data) {
                        
                        alert('¡Producto agregado correctamente!')
                        location.reload();
                    },
                    error: function () {
                        
                        alert('¡Producto agregado correctamente!')
                        location.reload();
                    }
                });
            }
        }
    </script>

}